.links{
    background: #000;
    padding: 100px;
}

.referenceTitle h1{
    font-family: "Special Gothic Expanded One", sans-serif;
    color: white;
    font-size: 5rem;
    padding-top: 50px;
}

.linkComp {
    margin:auto;
    display: grid;
    gap: 7rem;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}


/* social media card design */

.card {
	position: relative;
	background: radial-gradient(#000 100%, #000 100%);
	overflow: hidden;
	cursor: pointer;
}

.verticalImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card img {
	transform: scale(1);
	transition: 0.3s ease-out;
}

.card:hover img {
	transform: scale(1.1) translateY(-20px);
	opacity: 0.3;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
    padding: 50px;
	text-align: center;
	color: #fff;
}

.text-h1 {
    position: relative;
    padding-top: 15rem;
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
	opacity: 0;
	transition: all .3s ease-out;   
    display: inline-block;
}

.text-p {
	transform: translateY(30px);
	opacity: 0;
	transition: all .3s ease-out 0.2s;
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
}

.card:hover .overlay .text-h1 {
	opacity: 1;
	transform: translateY(0);
}

.card:hover .overlay .text-p {
	opacity: 1;
	transform: translateY(0);
}


/* social media card design */

.mainSocials{
    text-align: left;
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
}

.mainSocials h1{
    font-size: 6rem;
}


/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .links {
        padding: 3rem; /* Further reduce padding */
    }

    .linkComp {
        grid-template-columns: 1fr 1fr; /* 2 columns on tablets */
    }

    .mainSocials h1 {
        font-size: 5rem; /* Smaller font size on tablets */
    }

    .verticalImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    
}

@media (max-width: 480px) {
    .links {
        padding: 2rem; /* Further reduce padding for mobile */
    }

    .linkComp {
        grid-template-columns: 1fr; /* Single column on mobile */
    }

    .mainSocials h1 {
        font-size: 3.5rem; /* Even smaller font size on mobile */
    }

    .mainSocials h4{
        font-size: 1rem;
    }

    .verticalImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .text-h1{
        padding-top: 100px;
    }

    
}