.footer{
    padding: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8   )),url("/src/img2/image003.webp");
    background-position: center;
}

.footerText{
    text-align: left;
    padding-left: 50px;
    font-family: 'Lora', sans-serif;
    color: white;
}

.footerText h1{
    margin: 0;
    font-size: 5rem;
    font-family: "Noto Serif JP", serif;
}

.footerText p{
    margin: 0;
    font-size: 1rem;

}


/* Media Queries for Mobile Devices */

/* For tablets and smaller screens */
@media (max-width: 768px) {
    .footer {
        padding: 20px; /* Reduced padding for tablets */
    }

    .footerText {
        text-align: center; /* Center-align text for smaller screens */
        padding-left: 0; /* Remove left padding for better layout */
    }

    .footerText h1 {
        font-size: 3rem; /* Smaller font size for tablets */
    }

    .footerText p {
        font-size: 0.875rem; /* Slightly smaller font size for paragraphs */
    }
}

/* For mobile devices */
@media (max-width: 480px) {
    .footerText{
        padding: 40px;
        text-align: center;
    }

    .footerText h1 {
        font-size: 2rem; /* Even smaller font size for mobile */
    }

    .footerText p {
        font-size: 0.75rem; /* Even smaller font size for paragraphs */
    }
}