/* General styles for the title section */
.title {
    padding: 250px; /* Large padding for larger screens */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("/src/img2/drawover1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; /* Center-align text */
}

.titleText {
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.subText{
    font-family: 'IDM Plex';
    font-size: 1.9rem;
}

/* Title text styling */
.titleText h1 {
    font-size: 10rem; /* Large font size for larger screens */
    line-height: 1.2; /* Adjust line height for better readability */
}

i{
    font-size: 1.5rem;
}

/* Media Queries for Mobile Devices */

/* For tablets and smaller screens */
@media (max-width: 768px) {
    .title {
        padding: 150px; /* Reduced padding for tablets */
    }

    .titleText h1 {
        font-size: 5rem; /* Smaller font size for tablets */
    }
    .titleText h5 {
        font-size: 1rem; /* Smaller font size for tablets */
    }

    i{
        font-size: 0.8rem;
    }
    
}

/* For mobile devices */
@media (max-width: 480px) {
    .title {
        padding: 100px; /* Further reduced padding for mobile */
    }

    .titleText h1 {
        font-size: 2.3rem; /* Even smaller font size for mobile */
        text-align: center;
    }
    .titleText h2 {
        font-size: 0.8rem; /* Even smaller font size for mobile */
        text-align: center;
    }

    .titleText h5 {
        font-size: 0.7rem; /* Smaller font size for tablets */
    }


    i{
        font-size: 0.7rem;
    }
    
}

